name: AAB

on:
  push:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        repository: aseprite/aseprite
        submodules: recursive
        fetch-depth: 0

    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@v4

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install Python deps
      run: python -m pip install --upgrade pip

    - name: Build Skia
      shell: pwsh
      run: |
        cd skia
        git submodule update --init --recursive
        python tools/git-sync-deps

        python tools/run_gn.py skia --args='is_official_build=true is_component_build=false target_cpu="x64"'

        ninja -C out/Release

    - name: Configure
      shell: pwsh
      run: |
        cmake -B build -G Ninja `
          -DCMAKE_BUILD_TYPE=Release `
          -DLAF_BACKEND=skia `
          -DSKIA_DIR=skia `
          -DSKIA_LIBRARY_DIR=skia/out/Release `
          -DSKIA_LIBRARY=skia

    - name: Build
      run: cmake --build build

    - name: Package
      run: |
        mkdir output
        Copy-Item build\bin\aseprite.exe output\

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: aseprite-build
        path: output/
